:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background: #fff;  
    width: 1470px;     
}
.container{
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* HEADER */
a{
    text-decoration: none; 
}
ul{
    list-style: none;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 76px 24px 156px;
}
.logo-header{
    color: #2e2f42;
}
.box-header-nav{
    display: flex;
    align-items: center;
}
.menu-nav{
    display: flex;
    margin: 0;
    padding: 24px 332px 24px 0;
    gap: 40px;
    
}

a.list-header{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;


    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
a.list-header:hover, a.list-header:focus{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
}
.box-address ul{
    font-style: normal;
    display: flex;
    margin: 0;
    padding: 24px 156px 24px 0;
    gap: 40px;

}
.mail-tel{
    
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail-tel:focus,
.mail-tel:hover{
    color: #404bbf;
}
/* ПЕРВАЯ СЕКЦИЯ */
.studio{
    background-color: #2e2f42;
           
}

.h-one{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0%;
    padding: 188px 472px 48px 472px;
}
.button{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;    
    background: #4d5ae5;
    width: 169px;
    height: 56px;
    gap: 10px;
      
}
.studio-button{
    max-width: 1470px;
    padding: 0 635px 188px 636px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button:focus, .button:hover{
        background: #404bbf;
}
/* ВТОРАЯ СЕКИЯ */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
   }
.portfolio-h-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.portfolio-h-three-info{
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ТРЕТЬЯ СЕКИЯ */
.contacts{
    background: #f4f4fd;    
}
.list-contacts{
    background-color: #FFFFFF
}

.contacts-h-two-team{
    font-weight: 700;
    font-size: 36px;

    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.contacts-h-three-team{
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.contacts-info{
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* ЧЕТВЕРТАЯ СЕКИЯ */
.h-two-port{
    font-weight: 700;
    font-size: 36px;
    
    /* line-height: 40px; */ 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}
.h-three-port{
    font-weight: 500;
    font-size: 20px;
    
    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.port-info{
    font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;   
}
/* ФУТЕР СЕКИЯ */
.box-footer{
    background: #2e2f42;
}
.logo-footer{
    font-weight: 700;
    font-size: 18px;
    
    /* line-height: 21px; */ 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.info-footer{
    font-weight: 400;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}




